# Ignore Python cache files
__pycache__/
.fastf1/
.cache/
*.pkl
*.feather
*.parquet
# Ignore virtual environment folders
.conda/
venv/
env/

# Ignore MLflow tracking data
mlruns/

# Ignore FastF1 cache
fastf1_cache/

# Ignore system files
.DS_Store
